@font-face {
    font-family: 'UTM Thư Pháp Thiên An';
    src: url('UTMThuPhapThienAn.woff2') format('woff2'),
        url('UTMThuPhapThienAn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fz Thư Pháp Tiểu Tự';
    src: url('FzThuPhapTieuTuFull-Donate.woff2') format('woff2'),
        url('FzThuPhapTieuTuFull-Donate.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Fz Thư Pháp Đại Tự';
    src: url('Fz-Thu-phap-DT-Fontzin.woff2') format('woff2'),
        url('Fz-Thu-phap-DT-Fontzin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fz Đức Thủy Thư Pháp';
    src: url('FzDucThuyThuphap-Free.woff2') format('woff2'),
        url('FzDucThuyThuphap-Free.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SVN-Hottroof Semhesta';
    src: url('SVN-HottroofSemhesta.woff2') format('woff2'),
        url('SVN-HottroofSemhesta.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
